<phpunit
	bootstrap="tests/wp-tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
	>
	<testsuites>
		<testsuite>
			<directory suffix="Test.php">./tests/wp-tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
        <whitelist>
            <directory suffix=".php">include</directory>
            <file>bulk-move.php</file>
            <file>uninstall.php</file>
        </whitelist>
    </filter>
</phpunit>
